.popup__close-button {
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-image: url(../../../assets/images/icons/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popup__close-button:hover,
.popup__close-button:focus {
  background-image: url(../../../assets/images/icons/close-hovered.svg);
}
.popup__close-button:focus {
  outline: 2px solid var(--outline);
}

.popup__close-button:active {
  outline: none;
}
