.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  padding: 10px 10px 10px 0;
}

.task:focus {
  outline: 2px solid var(--outline);
  border-radius: 4px;
}

.taskText {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  max-width: calc(100% - 35px);
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0 26px 0 15px;
  padding: 0;
}