.checkbox {
  position: relative;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxInput:active ~ .checkboxSpan {
  outline: none;
}

.checkboxSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 8px;
  border-radius: 50%;
  border: 2px solid var(--grayE8);
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.checkboxSpan:hover,
.checkboxSpan:focus {
  background-color: var(--grayF1);
  background-image: url('../../../../assets/images/icons/checkbox-hovered.svg');
  border: none;
}

.checkboxSpan:focus {
  outline: 2px solid var(--outline);
}

.checkboxSpan_checked {
  background-color: var(--green);
  background-image: url('../../../../assets/images/icons/checkbox-checked.svg');
  border: none;
}

.checkboxSpan_checked:hover,
.checkboxSpan_checked:focus {
  background-color: var(--green);
  background-image: url('../../../../assets/images/icons/checkbox-checked.svg');
  border: none;
}