.task__checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 8px;
  border-radius: 50%;
  border: 2px solid var(--grayE8);
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.task__checkmark:hover,
.task__checkmark:focus{
  background-color: var(--grayF1);
  background-image: url("../../../assets/images/icons/checkbox-hovered.svg");
  border: none;
}

.task__checkmark:focus {
  outline: 2px solid var(--outline);
}

.task__input:disabled ~ .task__checkmark{
  background-color: var(--grayF1);
}

.task__input:disabled ~ .task__checkmark:hover,
.task__input:disabled ~ .task__checkmark:focus{
  background-color: var(--grayE8);
  background-image: none;
  cursor: not-allowed;
}

.task__input:checked ~ .task__checkmark {
  background-color: var(--green);
  background-image: url("../../../assets/images/icons/checkbox-checked.svg");
  border: none;
}

.task__input:active ~ .task__checkmark {
  outline: none;
}