.popup__container {
  display: block;
  position: relative;
  background-color: var(--white);
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0;
  padding: 18px;
}