.form__buttons-container{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-min-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, min-content));
  gap: 9px;
}