.task__remove-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 11px;
  width: 11px;
  background-color: var(--white);
  background-image: url("../../../assets/images/icons/remove-task.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
  border-radius: 50%;
  border: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin: 0 0 0 -11px;
  visibility: hidden;
  opacity: 0;
}

.task__remove-button:hover,
.task__remove-button:focus{
  background-image: url("../../../assets/images/icons/remove-task-hovered.svg");
}

.task__remove-button:focus {
  outline: 2px solid var(--outline);
}

.task:hover .task__remove-button,
.task:focus-within .task__remove-button{
  visibility: visible;
  opacity: 1;
}

.task__remove-button:active{
  outline: none;
}