/* normalize css*/
@import url(vendor/normalize.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* root */
:root {
  --black: #000;
  --red: #ff4646;
  --green: #4dd599;
  --gray: #f4f6f8;
  --outline: rgba(0, 102, 255, 0.5);
  --black08: rgba(0, 0, 0, 0.8);

  --grayPick: #c9d1d3;
  --greenPick: #42b883;
  --bluePick: #64c4ed;
  --pinkPick: #ffbbcc;
  --lightGreenPick: #b6e6bd;
  --fuchsiaPick: #c355f5;
  --blackPick: #09011a;
  --coralPick: #ff6464;

  --whiteLightness: 100%;
  --white: hsl(0, 0%, var(--whiteLightness));
  --grayF1: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --grayEF: hsl(0, 0%, calc(var(--whiteLightness) - 6%));
  --grayE8: hsl(0, 0%, calc(var(--whiteLightness) - 9%));
  --grayE5: hsl(0, 0%, calc(var(--whiteLightness) - 10%));
  --grayC7: hsl(0, 0%, calc(var(--whiteLightness) - 22%));
  --grayB6: hsl(0, 0%, calc(var(--whiteLightness) - 29.4%));
  --gray9C: hsl(0, 0%, calc(var(--whiteLightness) - 38.8%));
  --gray46: hsl(0, 0%, calc(var(--whiteLightness) - 54%));
  --gray48: hsl(0, 0%, calc(var(--whiteLightness) - 58.8%));
  --gray5C: hsl(0, 0%, calc(var(--whiteLightness) - 64%));
  --gray52: hsl(0, 0%, calc(var(--whiteLightness) - 68%));
}

/* body */
body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
}

/* document */
* {
  color: var(--black);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  font-size: 16px;
  line-height: 19px;
}

/* list */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* link */
a {
  text-decoration: none;
}

/* button */
button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}