.containerAddTask {
  width: 100%;
  margin-top: 10px;
}

.buttonAddTask {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 19px;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  margin: 0 0 0 2px;
}

.buttonAddTask:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  background-image: url('../../../../assets/images/icons/plus-task.svg');
  display: block;
  margin: 0;
  padding: 0;
}

.buttonAddTask:hover:after,
.buttonAddTask:focus:after {
  background-image: url('../../../../assets/images/icons/plus-task-hovered.svg');
}

.buttonAddTask:hover > .rubric__button-text,
.buttonAddTask:focus > .rubric__button-text {
  color: var(--black08);
}

.buttonAddTask:focus {
  outline: 2px solid var(--outline);
  border-radius: 2px;
}

.buttonAddTask:active {
  outline: none;
}

.rubricButtonText {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 19px;
  color: var(--grayB6);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0 0 0 33px;
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
